td {
    border: 2px solid black;
    border-radius: 5px;
    
}
table{
    border: 2px solid black;
    border-radius: 15px;
    width: 90%;
    margin-left: 5%;
}
.no_data{
    background-color: gray;
}
.checkbox{
    width: 100%;
}
tr{
    border-radius: 15px;
}
.skills{
    background-color: rgb(212, 212, 207);
}
strong{
    text-decoration: underline;
}
tfoot{
    width: 100%;
    text-align: center;
}
.table_footer_data{
    font-style: italic;
}



@font-face {
    font-family: NotoSans-Regular;
    src: url(NotoSans-Regular.ttf)
}